video {
    width: 50vw;
    height: auto;
    margin-left: 25vw;
    margin-right: 25vw;
}

h1 {
    margin-top: 20vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

#video-5 {
    margin-bottom: 20vw;
}